xml/XMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PericoYKeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="productos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="producto">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string" />
                    <xs:element name="droga" type="xs:string" />
                    <xs:element name="tipo" type="xs:string" />
                    <xs:element name="stock" type="xs:unsignedByte" />
                    <xs:element name="vendedor" type="xs:string" />
                    <xs:element name="imagen" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="idproducto" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="usuarios">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="usuario">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="username" type="xs:string" />
                    <xs:element name="nick" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                    <xs:element name="contrasena" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="premium" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pedidos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pedido">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="username" type="xs:string" />
                    <xs:element name="lineaprod">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="idproducto" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="fechaped" type="xs:string" />
                    <xs:element name="dirped" type="xs:string" />
                    <xs:element name="importe" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="idped" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
